

<nav class="nav-bar text-center" role="navigation">
  <div class="container">
      {% include "brand" %}
      {% comment %}
      List out your main-menu linklist (default)

      More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
      {% endcomment %}
      <!-- begin site-nav -->
      <div class="clearfix">
        <ul class="nav nav-pills text-center" id="AccessibleNav">
          {% for link in linklists.main-menu.links %}
            <li {% if link.active %}class="active"{% endif %}>
              <a href="{{ link.url }}">{{ link.title | capitalize }}</a>
            </li>
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}
                    <a href="/account">{{ customer.first_name }}</a>
                  {% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
              {% if shop.customer_accounts_optional %}
                <li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
              {% endif %}
            {% endif %}
          {% endif %}
          <li>
            <a href="/cart"
              class="site-nav__link site-header__cart-toggle js-drawer-open-right"
              aria-controls="CartDrawer"
              aria-expanded="false"
              >
              <span class="icon-fallback-text">
                <span class="icon icon-cart" aria-hidden="true"></span>
              </span>
              {{ 'layout.cart.title' | t }}
              (<span id="CartCount">{{ cart.item_count }}</span>
              {{ 'layout.cart.items_count' | t: count: cart.item_count }}
              <span id="CartCost">{{ cart.total_price | money }}</span>)
            </a>
          </li>
        </ul>
      </div>
      <!-- //site-nav -->
      {% include 'search-bar' %}
    </div>
</nav>
