<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

{% unless template == 'index' or template == 'cart' %}
  <nav role="navigation" aria-label="breadcrumbs" class="hidden-xs hidden-sm">
    <ol class="breadcrumb">
      <li>
        <a
          href="/"
          title="{{ 'general.breadcrumbs.home_link_title' | t }}"
        >
          {{ 'general.breadcrumbs.home' | t }}
        </a>
      </li>

      {% if template contains 'product' %}

        {% if collection %}
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          {% if collection.handle %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li>{{ collection.title | link_to: url }}</li>
          {% endif %}
        {% endif %}
        <!--<span aria-hidden="true">&rsaquo;</span>-->
        {% capture release_artist %}{{ product.title | split: " | " | first }}{% endcapture %}
        {% capture release_title %}{{ product.title | split: " | " | last }}{% endcapture %}
        <li>
          {{ release_artist | downcase }} - {{ release_title | downcase }}
        </li>

      {% elsif template contains 'collection' and collection.handle %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <li>{{ collection.title | link_to: url }}</li>
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          <li>{{ current_tags | join: " + " }}</li>
        {% else %}
          <li>{{ collection.title }}</li>
        {% endif %}
        
        <form class="form-inline pull-right hidden" style="margin:-6px -12px 0 0;">
          <select id="filter" class="form-control input-sm">
            <option value="">All Formats</option>
            {% for tag in collection.all_tags %}
              {% if collection.all_types contains tag %}
                {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                {% else %}
                  <option value="{{ tag | handle }}">{{ tag }}</option>
                {% endif %}
              {% endif %}
            {% endfor %}
          </select>
        </form>

        <script>
          $("#filter").on("change", function(){
            location.href = "/collections/{{collection.handle}}/" + $(this).val();
          });
        </script>

      {% elsif template == 'blog' %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        {% if current_tags %}
          <li>{{ blog.title | link_to: blog.url }}</li>
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          <li>{{ current_tags | join: " + " }}</li>
        {% else %}
          <li>{{ blog.title }}</li>
        {% endif %}

      {% elsif template == 'article' %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <li>{{ blog.title | link_to: blog.url }}</li>
        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <li>{{ article.title }}</li>

      {% elsif template contains 'page' %}

       <!--<span aria-hidden="true">&rsaquo;</span>-->
       <li>{{ page.title }}</li>

      {% else %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <span>{{ page_title }}</span>

      {% endif %}
  </ul>
  {% if collection %}
    <div class="btn-group pull-right" style="margin:-7px -14px 0 0;">
      {% if collection.previous_product or collection.next_product %}

          {% if collection.previous_product %}
            {{ collection.previous_product.title }}
            {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
            <a
              href="{{ prev_url }}"
              class="btn btn-default"
              title="{{ collection.previous_product.title }}"
              data-toggle="tooltip"
              data-placement="left">
              &lt;
            </a>
          {% endif %}

          {% if collection.next_product %}
            {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
            <a
              href="{{ next_url }}"
              class="btn btn-default"
              title="{{ collection.next_product.title }}"
              data-toggle="tooltip"
              data-placement="left">
              &gt;
            </a>
          {% endif %}

      {% endif %}
    </div>
  {% endif %}
</nav>
{% endunless %}
