<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

{% unless template == 'index' or template == 'cart' %}
  <nav role="navigation" aria-label="breadcrumbs" class="hidden-xs hidden-sm">
    <ol class="breadcrumb">
      <li>
        <a 
          href="/"
          title="{{ 'general.breadcrumbs.home_link_title' | t }}"
        >
          {{ 'general.breadcrumbs.home' | t }}
        </a>
      </li>

      {% if template contains 'product' %}

        {% if collection %}
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          {% if collection.handle %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li>{{ collection.title | link_to: url }}</li>
          {% endif %}
        {% endif %}
        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <li>{{ product.title | replace:' | ',' - ' }}</li>

      {% elsif template contains 'collection' and collection.handle %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <li>{{ collection.title | link_to: url }}</li>
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          <li>{{ current_tags | join: " + " }}</li>
        {% else %}
          <li>{{ collection.title }}</li>
        {% endif %}

      {% elsif template == 'blog' %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        {% if current_tags %}
          <li>{{ blog.title | link_to: blog.url }}</li>
          <!--<span aria-hidden="true">&rsaquo;</span>-->
          <li>{{ current_tags | join: " + " }}</li>
        {% else %}
          <li>{{ blog.title }}</li>
        {% endif %}

      {% elsif template == 'article' %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <li>{{ blog.title | link_to: blog.url }}</li>
        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <li>{{ article.title }}</li>

      {% elsif template contains 'page' %}

       <!--<span aria-hidden="true">&rsaquo;</span>-->
       <li>{{ page.title }}</li>

      {% else %}

        <!--<span aria-hidden="true">&rsaquo;</span>-->
        <span>{{ page_title }}</span>

      {% endif %}
  </ul>
</nav>
{% endunless %}
