

<div class="affix-wrapper">
  <div data-spy="affix" data-offset-top="303">

    <nav class="navbar navbar-default navbar-main">
      <div class="btn-group btn-group-justified visible-xs" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a href="/" class="btn btn-default {% if current == "home" %}active{% endif %}">
            {{ 'bird.svg' | asset_url | img_tag }}
          </a>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            data-toggle="collapse"
            data-target="#navbar-1"
            data-parent="#accordion"
            >
            {{ 'filter.svg' | asset_url | img_tag }}
          </button>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            data-toggle="collapse"
            data-target="#navbar-search"
            data-parent="#accordion"
          >
            {{ 'search.svg' | asset_url | img_tag }}
          </button>
        </div>
        <div class="btn-group" role="group">
          <a href="/account" class="btn btn-default {% if current == "account" %}active{% endif %}">
            {{ 'user.svg' | asset_url | img_tag }}
          </a>
        </div>
        <div class="btn-group" role="group">
          <a href="/cart" class="btn btn-default {% if current == "cart" %}active{% endif %}">
            {{ 'cart.svg' | asset_url | img_tag }}
            <span id="CartCount">{{ cart.item_count }}</span>
          </a>
        </div>
      </div>
      <div id="accordion">
        <div class="visible-xs panel">
          <div id="navbar-search" class="panel-collapse navbar-search collapse navbar-collapse">
            {% include 'search-bar' %}
          </div>
        </div>
        <div class="panel">
          <div class="panel-collapse collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav">
              <li class="hidden-xs">
                <a
                  href="/"
                  title="{{ 'general.breadcrumbs.home_link_title' | t }}"
                >
                  {{ settings.home_link_label }}
                </a>
              </li>
              {% for i in (1..10) %}
                {% capture attr %}aside_block_{{i}}{% endcapture %}
                {% if settings[attr] %}
                  {% assign linklistname = settings[attr] %}
                  {% assign linklist = linklists[linklistname] %}
                  {% unless linklist.title == blank %}
                    {% comment %} <h4>{{ linklist.title }}</h4> {% endcomment %}
                    <li class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-expanded="false"
                      >
                        {{ linklist.title }}
                        <span class="caret"></span>
                      </a>
                      {% comment %} <ul class="list-unstyled"> {% endcomment %}
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          {% for link in linklist.links %}
                              <li {% if link.active %}class="active"{% endif %}>
                                  <a href="{{ link.url }}">{{ link.title }}</a>
                              </li>
                          {% endfor %}
                      </ul>
                    </li>
                  {% endunless %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% if collection %}
      {% unless template contains 'product' %}
        <nav class="navbar navbar-default navbar-collection">
          <div class="navbar-header">
            <span class="navbar-brand">
              {% unless collection.title == "Products" %}
                {{ collection.title }}
              {% else %}
                {{ current_tags | join: ', ' }}
              {% endunless %}
            </span>
          </div>
          {% if collection.products_count > 0 %}
            {% unless collection.title == "Products" %}
              <form class="navbar-form navbar-right">
                <select id="filter" class="form-control input-sm">
                  <option value="">All Formats</option>
                  {% for tag in collection.all_tags %}
                    {% if collection.all_types contains tag %}
                      {% if current_tags contains tag %}
                        <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                      {% else %}
                        <option value="{{ tag | handle }}">{{ tag }}</option>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </select>
              </form>
            {% endunless %}
            {% include 'collection-sorting' %}
          {% endif %}
        </nav>
        <script>
          var $filter = $("#filter");
          $filter.on("change", function(){
            location.href = "/collections/{{collection.handle}}/" + $(this).val();
          });
          if ($filter.find("option").length == 1) {
            $filter.parent().remove();
          }
        </script>
      {% endunless %}
    {% endif %}

  </div>
</div>


