<hr>
<ul class="no-bullets">
    {% for link in linklists.aside-inventory-time-line.links %}
        <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>
<hr>
<hr>
<ul class="no-bullets">
    {% for link in linklists.aside-misc.links %}
        <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>
<hr>
<ul class="no-bullets">
    {% for link in linklists.aside-main-genre.links %}
        <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>

<hr>
{% include 'power-plays-sidebar' %}
