

<div style="min-height:72px;">
  <div data-spy="affix" data-offset-top="335">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          Collections and Filters
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a
              href="/"
              title="{{ 'general.breadcrumbs.home_link_title' | t }}"
            >
              HOME
            </a>
          </li>
          {% for i in (1..10) %}
            {% capture attr %}aside_block_{{i}}{% endcapture %}
            {% if settings[attr] %}
              {% assign linklistname = settings[attr] %}
              {% assign linklist = linklists[linklistname] %}
              {% unless linklist.title == blank %}
                {% comment %} <h4>{{ linklist.title }}</h4> {% endcomment %}
                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-expanded="false"
                  >
                    {{ linklist.title }}
                    <span class="caret"></span>
                  </a>
                  {% comment %} <ul class="list-unstyled"> {% endcomment %}
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      {% for link in linklist.links %}
                          <li {% if link.active %}class="active"{% endif %}>
                              <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </li>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if collection %}
        {% unless template contains 'product' %}
          <form class="navbar-form pull-right">
            <select id="filter" class="form-control">
              <option value="">All Formats</option>
              {% for tag in collection.all_tags %}
                {% if collection.all_types contains tag %}
                  {% if current_tags contains tag %}
                    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                  {% else %}
                    <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </form>
          <script>
            $("#filter").on("change", function(){
              location.href = "/collections/{{collection.handle}}/" + $(this).val();
            });
          </script>
        {% endunless %}
      {% endif %}
    </nav>
  </div>
</div>
