

<nav class="nav-bar text-center hidden-xs" role="navigation">
  <div class="container">
      {% include "brand" %}
      {% comment %}
      List out your main-menu linklist (default)

      More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
      {% endcomment %}
      <!-- begin site-nav -->
      <div class="clearfix">
        <ul class="nav nav-pills text-center" id="AccessibleNav">
          {% for link in linklists.main-menu.links %}
            <li class="hidden {% if link.active %}active{% endif %}">
              <a href="{{ link.url }}">{{ link.title | capitalize }}</a>
            </li>
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li><a href="/account">My Account</a></li>
              <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
            {% else %}
              <li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
              {% if shop.customer_accounts_optional %}
                <li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
              {% endif %}
            {% endif %}
          {% endif %}
          <li>
            <a href="/cart"
              class="site-nav__link site-header__cart-toggle js-drawer-open-right"
              aria-controls="CartDrawer"
              aria-expanded="false"
              >
              <span class="icon-fallback-text">
                <span class="icon icon-cart" aria-hidden="true"></span>
              </span>
              {{ 'layout.cart.title' | t }}
              <span class="hidden-xs">
                <span id="CartCount">{{ cart.item_count }}</span>
                {{ 'layout.cart.items_count' | t: count: cart.item_count }}
                <span id="CartCost">{{ cart.total_price | money }}</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <!-- //site-nav -->
      {% include 'search-bar' %}
    </div>
</nav>
