

<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item text-center">
              <hr>
            </div>
            <div class="grid__item large--one-quarter push--large--one-quarter medium--one-half">
              <h5>{{ linklists.footer-customer.title }}</h5>
              <ul class="no-bullets">
                  {% for link in linklists.footer-customer.links %}
                      <li {% if link.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="grid__item large--one-quarter push--large--one-quarter medium--one-half">
              <h5>{{ linklists.footer-about.title }}</h5>
              <ul class="no-bullets">
                  {% for link in linklists.footer-about.links %}
                      <li {% if link.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="grid__item large--one-quarter push--large--one-quarter medium--one-half">
              <h5>{{ linklists.footer-social.title }}</h5>
              <ul class="no-bullets">
                  {% for link in linklists.footer-social.links %}
                      <li {% if link.active %}class="site-nav--active"{% endif %}>
                          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="grid__item text-center">
                <hr>
                {% comment %}
                <p>© 2014 - 2015 H-Track Music Group LLC / Pacific Beach Vinyl -USA-</p>
                {% if settings.footer_newsletter_enable %}
                        <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
                        {% if settings.newsletter_form_action != blank %}
                            {% assign form_action = settings.newsletter_form_action %}
                        {% else %}
                            {% assign form_action = '#' %}
                        {% endif %}
                        <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                            <span class="input-group-btn">
                                <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                            </span>
                        </form>
                {% endif %}
                {% endcomment %}
                {% comment %}
                {% unless shop.enabled_payment_types == empty %}
                    <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
                    <ul class="inline-list payment-icons">
                        {% for type in shop.enabled_payment_types %}
                            <li>
                                <span class="icon-fallback-text">
                                    <span class="icon icon-{{type}}" aria-hidden="true"></span>
                                    <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endunless %}
                {% endcomment %}
            </div>
        </div>
    </div>
</footer>
