<!-- /templates/customers/addressess.liquid -->

{% comment %}
  Template note:
    - There are instances of inline JS below. Best practices advise separating this
      into an external JS file
    - There are separate 'add new' and 'edit' address forms
{% endcomment %}

{% layout settings.customer_layout %}

{% include "main-sidebar" %}

<div class="page-header">
  <h1>{{ 'customer.addresses.title' | t }}</h1>
</div>

<a href="#" class="btn btn-default" onclick="Shopify.CustomerAddress.toggleNewForm();return false;">
  {{ 'customer.addresses.add_new' | t }}
</a>
<a class="btn btn-default" href="/account">
  {{ 'customer.account.return' | t }}
</a>

<hr>

{% include "new_address" %}

{% comment %}
  List all customer addresses with a unique edit form.
  Also add pagination in case they have a large number of addresses
{% endcomment %}
{% paginate customer.addresses by 5 %}

  <div class="row">
    {% for address in customer.addresses %}
      {% include "address" %}
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
  {% endif %}

{% endpaginate %}

<script>
  // Initialize observers on address selectors
  new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
    hideElement: 'AddressProvinceContainerNew'
  });

  // Setup province selector on each customer address
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
      hideElement: 'AddressProvinceContainer_{{ address.id }}'}
    );
  {% endfor %}

  // Modified contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('EditAddress_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('AddAddress');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>
