<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        {% include "head" %}
        {{ content_for_header }}
    </head>

    <body id="{{ page_title | handle }}"
        class="
            {% if customer %}
                customer-logged-in
            {% endif %}
            template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
        "
    >

        {% include "navbar" %} 

        <div id="PageContainer" class="container">

            <main class="wrapper main-content" role="main">
                {{ content_for_layout }}
            </main>

            {% include 'site-footer' %}
            {% include 'product-add-to-cart-form' %}

        </div>

        {{ 'fastclick.min.js' | asset_url | script_tag }}
        {{ 'timber.js' | asset_url | script_tag }}
        {{ 'theme.js' | asset_url | script_tag }}

        <script>
            {% if newHash %}
                $(function() {
                    timber.updateHash('{{ newHash }}');
                });
            {% endif %}

            {% if resetPassword %}
                $(function() {
                    timber.resetPasswordSuccess();
                });
            {% endif %}
        </script>

        {% include "ajax-cart" %} 

    </body>
</html>
