<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% include "main-nav", current: "cart" %}

<div class="page-header">
  <h1>{{ 'cart.general.title' | t }}</h1>
</div>

{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart">

    <div class="row hidden-xs">
      <div class="col-md-6 col-sm-8">
        {{ 'cart.label.product' | t }}
      </div>
      <div class="col-md-2 text-center hidden-sm">
        {{ 'cart.label.price' | t }}
      </div>
      <div class="col-sm-2 text-center">
        {{ 'cart.label.quantity' | t }}
      </div>
      <div class="col-sm-2 text-right">
        {{ 'cart.label.total' | t }}
      </div>
    </div>

    <hr class="hidden-xs">

    {% comment %}
      Loop through products in the cart
    {% endcomment %}
    {% for item in cart.items %}
      <div class="row">
        <div class="col-sm-2 col-xs-3">
          <a href="{{ item.url | within: collections.all }}" class="cart__image">
            {% comment %}
              More image size options at:
                - http://docs.shopify.com/themes/filters/product-img-url
            {% endcomment %}
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-responsive img-thumbnail">
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          {% capture release_artist %}{{ item.product.title | split: " | " | first }}{% endcapture %}
          {% capture release_title %}{{ item.product.title | split: " | " | last }}{% endcapture %}
          <a href="{{ item.url }}">
            <span class="h4" itemprop="name">{{ release_artist }}</span><br>
            <span class="h5 text-muted" itemprop="name">{{ release_title | downcase }}</span>
          </a>

          {% comment %}
            Check for color vinyl option and display if found.
          {% endcomment %}

          {% if item.variant.title contains 'Vinyl' %}
            <p class="variant-option">{{ item.variant.option3 }}</p>
          {% endif %}

          {% if settings.cart_vendor_enable %}
            <p>{{ item.vendor }}</p>
          {% endif %}

          {% comment %}
            Optional, loop through custom product line items if available

            For more info on line item properties, visit:
              - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
          {% endcomment %}
          {% assign property_size = item.properties | size %}
          {% if property_size > 0 %}
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:

                {% comment %}
                  Check if there was an uploaded file associated
                {% endcomment %}
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}

                <br>
              {% endunless %}
            {% endfor %}
          {% endif %}

          <br><br>
          <small>
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn-default btn-xs">
              {{ 'cart.general.remove' | t }}
            </a>
          </small>
        </div>

        <div class="col-md-2 text-center hidden-xs hidden-sm">
          <span class="h4">{{ item.price | money }}</span>
        </div>

        <div class="col-sm-2 col-xs-6 hidden-xs text-center">
          <input style="width:60px;margin:0 auto;" class="form-control input-sm" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
        </div>

        <div class="col-xs-3 col-sm-2 text-right">
          <span class="h4" style="white-space:nowrap;">{{ item.line_price | money }}</span>
        </div>

      </div>
      <hr>
    {% endfor %}

    <div class="row">
      {% comment %}
        Optional, add a textarea for special notes
          - Your theme settings can turn this on or off. Default is on.
          - Make sure you have name="note" for the message to be submitted properly
      {% endcomment %}
      {% if settings.cart_notes_enable %}
        <div class="col-sm-6">
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="form-control" id="CartSpecialInstructions" rows="4">{{ cart.note }}</textarea>
          <hr class="visible-xs">
        </div>
      {% endif %}
      <div class="text-right {% if settings.cart_notes_enable %}col-sm-6{% endif %}">
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="cart__subtotal h3">{{ cart.total_price | money }}</span>
        </p>
        <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
      </div>
    </div>
    <hr>
    <div class="text-right">
      <span class="visible-xs-block visible-sm-inline-block visible-md-inline-block  visible-lg-inline-block continue-shopping"><a href="/" class="btn btn-default">Continue Shopping</a></span>
      <input type="submit" name="update" class="btn btn-default update-cart" value="{{ 'cart.general.update' | t }}">
      <input type="submit" name="checkout" class="btn btn-default" value="{{ 'cart.general.checkout' | t }}">
      {% if additional_checkout_buttons %}
        <br><br>
        {{ content_for_additional_checkout_buttons }}
      {% endif %}
    </div>

  </form>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
