

<!-- /templates/index.alternate.liquid -->

<div id="products-grid">
  {% assign c_arr = "pbv-celebration,polysom-reissues" | split: ',' %}
  {% for c in c_arr %}
    <hr>
    <div class="row">
      <h4 class="col-xs-12">{{ collections[c].title }}</h4>
      {% for product in collections[c].products limit:6 %}
        {% include 'product-grid-item' %}
      {% endfor %}
      <p class="col-xs-12 text-right">
        <a href="/collections/{{collections[c].handle}}">More in {{ collections[c].title }} collection</a>
      </p>
    </div>
  {% endfor %}
  <hr>
  <h4>Browse By Style</h4>
  <div class="tags row">
    {% for link in linklists.aside-main-genre.links %}
      {% comment %} <a href="/collections/all/{{ tag | handle }}" class="btn btn-default">{{ tag }}</a> {% endcomment %}
      <div class="col-sm-4">
        <a href="{{ link.url }}" class="btn btn-default btn-lg btn-block">{{ link.title }}</a>
      </div>
    {% endfor %}
  </div>
</div>

