<!-- /templates/product.liquid -->
{% comment %}
  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html
{% endcomment %}

{% include "main-nav" %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% include "breadcrumb" %}

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% if product.compare_at_price > product.price %}
    {% comment %}
        Check if the product is on sale and set a variable to be used below.
    {% endcomment %}
    {% assign on_sale = true %}
    {% capture sale_percent %}
      {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | round }}
    {% endcapture %}
  {% endif %}
  
  <div class="row product-single">
    <div class="col-sm-4">
      <div
        id="ProductPhoto"
        class="img-thumbnail {% if on_sale %}onsale{% endif %}"
        {% if on_sale %}
          data-sale = {{ sale_percent }}
        {% endif %}  
      >
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img class="img-responsive" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div>

      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="row" id="ProductThumbs">

          {% for image in product.images %}
            <li class="col-sm-3">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}
    </div>

    <div class="col-sm-8">


      {% capture release_artist %}{{ product.title | split: " | " | first }}{% endcapture %}
      {% capture release_title %}{{ product.title | split: " | " | last }}{% endcapture %}

      <h1 itemprop="name">{{ release_artist }}</h1>
      <h2 itemprop="name">{{ release_title | downcase }}</h2>
      <hr>
      <div class="row">

        <div class="col-sm-6">
      <strong>Label:</strong> <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a><br>
      <strong>Format:</strong> <a href="{{ product.type | url_for_type }}">{{ product.type }}</a><br>
      <strong>Cat:</strong> {{ product.variants.first.sku }}<br><br>
      {% comment %}
      Tags
      {% endcomment %}
      
      <span class="tags">
        {% for tag in product.tags %}
          {% capture name %}{{ tag }}{% endcapture %}
          {% unless shop.types contains tag %}
            <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
          {% endunless %}
        {% endfor %}
      </span>

      {% comment %}
      <strong>Style:</strong>
      {% for tag in product.tags %}
        <span class="btn btn-default">{{ tag | link_to_tag: tag }}</span>
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
      {% endcomment %}
      <br><br>

        </div>
        <div class="col-sm-6">

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="well">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          <span id="ProductPrice" class="lead" itemprop="price">
            {% if on_sale %}
              <strong>{{ 'products.product.on_sale' | t }}</strong>
            {% endif %}
            {{ current_variant.price | money }}
          </span>

          {% if on_sale %}
            <p id="ComparePrice">
              <s>{{ current_variant.compare_at_price | money }}</s>
            </p>
          {% endif %}

          {% comment %}
          <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
          {% endcomment %}

          <br><br>
          <button type="submit" name="add" id="AddToCart" class="btn btn-default">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
          <script data-product="{{ product | json | escape }}" id="out-of-stock" src="//setup.shopapps.io/out-of-stock/script/pbvinyl.js"></script>

        </form>

      </div>
      </div>
      </div>

      <hr>
      <div class="product-description rte" itemprop="description">
        {{ product.description }}
      </div>

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% comment %}
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>

            {% if collection.previous_product %}
              {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
              </span>
            {% endif %}

            {% if collection.next_product %}
              {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: next_url }}
              </span>
            {% endif %}

          </p>
        {% endif %}
      {% endif %}
      {% endcomment %}

    </div>
  </div>

</div>

